In [ ]:
import pandas as pd
import numpy as np

In [ ]:
series=pd.Series(["Emir",np.nan,"Hilal","Mehmet"])
series

In [ ]:
series.isnull() #nan olan tüm true döndürür

In [ ]:
series.notnull() #nan olmayan tüm true döndürür

In [ ]:
series = series.dropna() #nan değer bulunan tüm satırları siler

In [ ]:
series

In [ ]:
df=pd.DataFrame([[1,2,3],[4,np.nan,5],[np.nan,np.nan,np.nan],[10,11,12]])
df

In [ ]:
df.dropna(inplace=True) #nan değer bulunan tüm satırları siler

In [ ]:
df

In [ ]:
df.dropna(how="all") #tüm elemanları nan olan rowları siler

In [ ]:
df

In [ ]:
df[1]=np.nan #birinci columnda yer alan değerleri nan yaptık 
df

In [ ]:
df.dropna(axis=1,how="all") #axis=1 columnları kapsar, how='all' tüm satırları nan olan columnları seçer

In [ ]:
df

In [ ]:
df.fillna(0) #tüm nan değerleri verdiğimiz değer ile doldurur

In [ ]:
df.fillna({0:111,1:222,2:333}) #Columnlardaki nan değerleri verdiğimiz değerlerle dolduru

In [ ]:
df

In [ ]:
df=pd.DataFrame([[1,2,3],[4,np.nan,5],[np.nan,np.nan,np.nan],[10,11,12]])
df

In [ ]:
df.fillna(method="ffill") #bir üst değer ile nan değerleri doldurur

In [ ]:
df

In [ ]:
df.fillna(df.mean()) #bulunduğu column ortalaması ile değerleri doldurur

In [ ]:
df.fillna(df.iloc[:,1].mean()) #1.sütunun ortaması ile doldurdu

In [ ]:
df=pd.DataFrame(
    {"isim":["Emir","Hilal","Gürkan","Tarık","Başak","Sude","Merve"],
     "yaş":[26,25,32,23,22,23,27],
     "cinsiyet":["E","K","E","E","K","K","K"],
     "teknoloji":["Python","Python","Flutter","Node.js","JS","Flutter","Python"]
    })

In [ ]:
df

In [ ]:
#teknolojilerin yaş ortalamalarını alıyoruz
df.groupby("teknoloji")["yaş"].mean()

In [ ]:
df.groupby(["teknoloji","cinsiyet"])["yaş"].aggregate("mean")

In [ ]:
#Teknolojileri cinsiyete göre ayırıp, yaş ortalamalarını alıyoruz
df.groupby(["teknoloji","cinsiyet"])["yaş"].aggregate("mean").unstack()

In [ ]:
#yukarıda uyguladığımız işlemi pivot tablo ile yapıyoruz
df.pivot_table("yaş",index="teknoloji",columns="cinsiyet")

In [ ]:
df

In [ ]:
#teknolojilere göre isimleri sınıflandırıp, yaşları alıyoruz
df.pivot_table(["yaş"],index=["teknoloji","isim"])

In [ ]:
#yaşa göre ilgilenilen teknolojileri sınıflandırıyoruz
pd.crosstab(df.yaş,df.teknoloji)

In [ ]:
#Yaşları gruplandırıp teknolojilere göre cinsiyet dağılımını döndürüyoruz
pd.crosstab([df.yaş, df.teknoloji], df.cinsiyet)

In [ ]:
#Teknolojileri gruplandırıp yaşa göre cinsiyet dağılımını döndürüyoruz
pd.crosstab([df.teknoloji, df.yaş], df.cinsiyet)

In [ ]:
#Fortune 1000 datasetimizi fort1000 değişkenine tanımlıyoruz
fort1000 = pd.read_csv("Fortune_1000.csv")

In [ ]:
fort1000

In [ ]:
#indeximizi rank değerleriyle değiştiriyoruz
fort1000 = fort1000.set_index("rank")

In [ ]:
fort1000

In [ ]:
#null olan değerlerin toplamını alıyoruz
fort1000.isnull().sum()

In [ ]:
#profit feature nda null olan değerleri fort_null değişkenine tanımlıyoruz
fort_null = fort1000["profit"].isnull()
fort_null

In [ ]:
fort1000[fort_null]

In [ ]:
#profiti null olan indexleri çağırıyourz
fort1000.loc[[668,717]]

In [ ]:
#profiti null olan indexleri siliyoruz
f1 = fort1000["profit"].dropna() 

#if wanted to revise the original df, needed to use "inplace=True"

In [ ]:
#Hata alırız, değerler silindi
f1.loc[[668,717]]

In [ ]:
#profit sütununu siler
f2 = fort1000.drop(columns="profit")

In [ ]:
f2

In [ ]:
f2

In [ ]:
#Nan değerleri bir üstteki değerle doldurur
f3 = fort1000.profit.fillna(method="ffill")

In [ ]:
f1.loc[[668,717]]

In [ ]:
f3.loc[[667,668,716,717]]

In [ ]:
#Nan değerleri bir alttaki değerle doldurur
f4 = fort1000.profit.fillna(method="bfill")

In [ ]:
f4.loc[[668,669,717,718]]

In [ ]:
#Nan değerleri belirlediğimiz değerle doldurur
f5 = fort1000["profit"].fillna(value= 100)

In [ ]:
f5.loc[[668,717]]

In [ ]:
fort1000["profit"].mean()

In [ ]:
#Nan değerlere ortalamayı atar
f6 = fort1000["profit"].fillna(fort1000["profit"].mean())

In [ ]:
f6.loc[[668,717]]

In [ ]:
fort1000["profit"].median()

In [ ]:
#Nan değerlere medyanı atar
f7 = fort1000["profit"].fillna(fort1000["profit"].median())

In [ ]:
f7.loc[[668,717]]

In [ ]:
#Nan değerlere lineer regresyon uygular
f8 = fort1000.profit.interpolate(method="linear")

In [ ]:
f8.loc[[668,717]]

In [ ]:
fort1000.head()

In [ ]:
fort1000.tail()

In [ ]:
fort1000["sector"] == "Retailing"

In [ ]:
fort1000[fort1000["sector"] == "Retailing"]

In [ ]:
fort1000["revenue"] >= "100000"

In [ ]:
fort1000[fort1000["revenue"] >= 100000]

In [ ]:
#sektöre göre bölgeleri sınıflandırıp gelirleri arıyoz
fort1000.pivot_table(["revenue"],index=["sector","state"])

In [ ]:
fort1000.groupby("sector")["revenue"].mean()

In [ ]:
fort1000.groupby("sector")["revenue"].sum()